<div class="wallpaper-container">
    <img src="./assets/home.jpg" class="wallpaper-image" alt="">
    <div class="wallpaper-overlay" ></div>
    <div class="d-flex flex-column wallpaper-writeup justify-content-center">
        <h6 class="font-weight-thin">GET ALL DELIVERIES</h6>
        <h3>Transportation and Deliveries</h3>
        <p>Get all your goods to selected destinations</p>
        <div>
            <button routerLink="/order-details" class="btn btn-primary">Place order now</button>
        </div>
        
    </div>

</div>