<div class="modal-header">
    <div class="modal-title">{{order?.name}}'s Order</div>
</div>

<div class="modal-body">
    <div class="p-2"><span class="bold">From</span>
        <div class="divider"></div>
        <div class="d-flex mt-1  border-3 justify-content-between">
            <div>
                <div>{{order?.name}}</div>

                <div>{{order?.phone_number}}</div>
            </div>

            <div style="height:100%;" class="d-flex align-items-center">
                <span>{{order?.address}}</span>
            </div>
        </div>
    </div>

    <div class="p-2"><span class="bold">To</span>
        <div class="divider"></div>
        <div class="d-flex mt-1 border-3 justify-content-between">
            <div>
                <div>{{order?.reciever_name}}</div>

                <div>{{order?.reciever_phone_number}}</div>
            </div>

            <div style="height:100%;" class="d-flex align-items-center">
                <span>{{order?.reciever_location}}</span>
            </div>
        </div>
    </div>

    <div class="p-2"><span class="bold text-center">Information</span>
        <div class="divider"></div>
        <div class="d-flex mt-1 border-3 justify-content-between">
            <div>
                <div>{{order?.product_name}}</div>

                <div>{{order?.size}}</div>
            </div>

            <div style="height:100%;" class="d-flex align-items-center">
                <span>{{order?.transport}}</span>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <button type="button" (click)="setOrderToSuccessful()" class="btn btn-success" style="width: 100%;">Complete Delivery</button>
        <button class="btn btn-danger mt-1" style="width: 100%;">Delay Delivery</button>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-success">Confirm</button>
    <button class="btn btn-success">Decline</button>
</div>